
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center btn-primary">Add data to database</h1>


<div class="text-md-center">
    <a class="btn btn-success" asp-action="Create" asp-controller="Genre">Add new genre</a>

    <a class="btn btn-success" asp-action="Create" asp-controller="Keyword">Add new keyword</a>

    <a class="btn btn-success" asp-action="Create" asp-controller="Language">Add new language</a>

    <a class="btn btn-success" asp-action="Create" asp-controller="Country">Add new country</a>

    <a class="btn btn-success" asp-action="Create" asp-controller="Person">Add new person</a>

    <a class="btn btn-success" asp-action="Create" asp-controller="Multimedia">Add new picture</a>
</div>

